@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
	font-family: "Manrope", sans-serif;
	/* colors */
	--VeryDarkGrayishBlue: hsl(217, 19%, 35%);
	--DesaturatedDarkBlue: hsl(214, 17%, 51%);
	--GrayishBlue: hsl(212, 23%, 69%);
	--LightGrayishBlue: hsl(210, 46%, 95%);
	--radius: 6px;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-size: 13px;
}
body {
	background-color: var(--LightGrayishBlue);
	width: 100vw;
	height: 100vh;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 100vw; */
	height: 100%;
}
.content {
	width: 56.5385rem;
	height: 22.0769rem;
	display: grid;
	grid-template-columns: 22.1538rem 1fr;
	background-color: white;
	border-radius: var(--radius);
	box-shadow: 3px 3px 20px var(--GrayishBlue);
	position: relative;
}
.img {
	width: 100%;
	height: 22.0769rem;
	border-top-left-radius: var(--radius);
	border-bottom-left-radius: var(--radius);
}

.info {
	padding: 2.8462rem;
}
.info__title {
	font-size: 1.5rem;
	color: var(--VeryDarkGrayishBlue);
	font-weight: 700;
}
.info__text {
	margin-top: 1rem;
	color: var(--DesaturatedDarkBlue);
}

/* user */
.user {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: 1fr 20.9231rem 1fr;
	align-items: center;
}
.user__info__name {
	color: var(--VeryDarkGrayishBlue);
	margin-bottom: 5px;
}
.user__info__date {
	color: var(--DesaturatedDarkBlue);
}
.user__img {
	width: 3.3846rem;
	height: 3.3846rem;
	border-radius: 50%;
}
.user__share {
	width: 2.6154rem;
	height: 2.6154rem;
	background-color: var(--LightGrayishBlue);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.user__share svg path {
	transition: all 0.4s ease-in-out;
}
.clic.user__share {
	background-color: var(--VeryDarkGrayishBlue);
}
.clic.user__share svg path {
	fill: var(--LightGrayishBlue);
}

/* social */

.social__title {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 1rem;
	font-weight: 500;
}
.social-desktop {
	width: 18.8462rem;
	height: 4.2308rem;
	padding: 18px 38px;
	color: var(--GrayishBlue);
	background-color: var(--VeryDarkGrayishBlue);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: var(--radius);
	position: absolute;
	right: -4.2308rem;
	top: 50%;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.social-desktop::after {
	content: "";
	/* border-top: 14px solid blue; */
	border-top: 14px solid var(--VeryDarkGrayishBlue);
	border-bottom: 14px solid transparent;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	position: absolute;
	bottom: -1.9231rem;
	left: 8.2308rem;
}
.show {
	opacity: 1;
}

/* mobil */
@media (max-width: 576px) {
	body {
		font-size: 11px;
	}

	.content {
		width: 25.2308rem;
		height: 38.8462rem;
		grid-template-columns: 100%;
		grid-template-rows: 15.3846rem 1fr;
	}
	.img {
		width: 25.2308rem;
		height: 15.3846rem;
		border-bottom-left-radius: 0;
		border-top-right-radius: var(--radius);
	}

	.info {
		padding: 34px 2.3846rem;
		padding-bottom: 19px;
		position: relative;
	}

	.user {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: 1fr 14.6154rem 1fr;
		grid-template-areas: "social social share";
		align-items: center;
	}

	.social-desktop {
		display: none;
	}
	.user__info {
		margin-left: 4px;
	}

	.user.social-mobile {
		width: 25.2308rem;
		height: 4.2308rem;
		background-color: var(--VeryDarkGrayishBlue);
		grid-template-columns: 2fr 1fr;
		place-items: center;
		position: absolute;
		left: 0;
		bottom: 0;
		padding-left: 2.3846rem;
	}
	.user__share {
		grid-area: "share";
	}
	.social__mobil {
		grid-area: "social";
		width: 100%;
		color: var(--GrayishBlue);
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom-right-radius: var(--radius);
		border-bottom-left-radius: var(--radius);
		opacity: 1;
		transform: translate(0, 0);
		transition: all 0.5s ease-in-out;
	}
	.clic.user__share {
		background-color: var(--DesaturatedDarkBlue);
	}
	.none {
		display: none;
		opacity: 0;
		transform: translate(-50%, -50%);
	}
}

@media (min-width: 577px) {
}
